.board {
  position: relative;
  color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.board-xl-container { //瑜珈空間
  width: 100%;
  height: 350px;
}

.board-lg-container { //首頁
  width: 350px;
  height: 420px;
}

.board-md-container { //瑜珈空間
  width: 100%;
  height: 350px;
}

.board-sm-container {
  width: 350px;
  height: 196px;
}

.board-lg-description, //課程介紹、瑜伽空間
.board-md-description, //首頁
.board-sm-description { //瑜伽空間
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.board-lg-title,
.board-md-title {
  font-size: 28px;
  margin-bottom: 0;
}

.board-sm-title {
  font-size: 20px;
  margin-bottom: 0;
}

.board-text{
  margin-bottom: 0;
}


@media(max-width:768px) {
  .board-xl-container {
    height: 216px;
  }

  .board-md-container {
    width: 210px;
    height: 210px;
  }
  .board-md-description {
    left: 16px;
    bottom: 16px;
  }

  .board-sm-description {
    left: 12px;
    bottom: 12px;
  }

  .board-md-title {
    font-size: 24px;
  }

  .board-sm-title {
    font-size: 16px;
  }
}

@media(max-width:468px) {
  .board-md-container {
    width: 100%;
    height: 350px;
  }
  
  .board-md-description,
  .board-sm-description {
    left: 24px;
    bottom: 24px;
  }

  .board-md-title {
    font-size: 28px;
  }

  .board-sm-title {
    font-size: 20px;
  }
}